
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/roomy.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <bs-navbar>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Roomy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item col-auto">
                            <a href="~/"><span>Accueil</span></a>
                        </li>
                        <li class="nav-item col-auto">
                            <a href="@Url.Action("About","Home")"><span>A propos</span></a>
                        </li>
                        <li class="nav-item col-auto">
                            <a href="@Url.Action("Create","Users")"><span>Nouvel utilisateur</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </bs-navbar>

        @RenderBody()

        <footer class="bg-light">
            &copy; POEC Rouen 2018
        </footer>

    </div>



    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("SectionScripts",false)
</body>
</html>
